
:root {
  --pink: #ff4f9a;
  --pink-light: #ffe3f0;
  --text-dark: #222;
  --text-light: #fff;
  --bg: #ffffff;

  font-family: Arial, Helvetica, sans-serif;
 
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg);
  color: var(--text-dark);
}


body {
  overflow-x: hidden;
}


h1, h2, h3, h4 {
  font-weight: 700;
  color: var(--text-dark);
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-dark);
}


a {
  color: var(--pink);
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}


button {
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}


button.pink {
  background: var(--pink);
  color: var(--text-light);
  padding: 0.7rem 1.6rem;
  border-radius: 999px;
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(255, 79, 154, 0.3);
}
button.pink:hover {
  opacity: 0.7;
}


button.white-red {
  background: white;
  color: red;
  border: 1px solid red;
  padding: 0.7rem 1.6rem;
  border-radius: 999px;
  font-weight: 600;
}
button.white-red:hover {
  background-color: #ffe5e5;
}


.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

